body {
    background-color: black;
    color: white;
    font-size: 50px;
}

.main {
    border: solid black;
    margin: 100px;
    width: 400px;
    height: 500px;
    border-radius: 20px;
    transition: 0.5s;
    text-align: center;
}

.main:hover {
    border: solid white;
    box-shadow: 0 0 7px #fff,
                0 0 10px #fff,
                0 0 21px #fff,
                0 0 42px #0fa,
                0 0 82px #0fa,
                0 0 92px #0fa,
                0 0 102px #0fa,
                0 0 151px #0fa,
                0 0 7px #fff inset,
                0 0 10px #fff inset,
                0 0 20px #0fa inset;
}

.main:hover {
    text-shadow: 0 0 7px #fff,
                0 0 10px #fff,
                0 0 21px #fff,
                0 0 42px #0fa,
                0 0 82px #0fa,
                0 0 92px #0fa,
                0 0 102px #0fa,
                0 0 151px #0fa;
}